@model IEnumerable<Person>








@if (TempData["SuccessMessage"] == "Person created successfully!")
{

	@if (TempData["Success"] != null)
	{
		<p class="alert alert-success" id="SuccessMessage">@TempData["Success"]</p>
	}

}
else
{
	@if (TempData["Success"] != null)
	{
		<p class="alert alert-success" id="SuccessMessage">@TempData["Success"]</p>
	}
}

<div class="row" >
	<div class="col-6">
		<h1> contact List </h1>
	</div>
	<div class="col-6">
		<a href="Person/Create" class="btn btn-primary">Add New Contact</a>
	</div>
</div>



<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone Number</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var person in Model)
		{
			<partial name="_PersonInfo" model="person" />
		}
	</tbody>



<script>
	setTimeout(function () {
		$('#SuccessMessage').fadeOut('fast');
	}, 1000); // <-- time in milliseconds

</script>

