@model IEnumerable<Person>


<h1> contact List </h1>


<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone Number</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var person in Model)
		{
			<partial name="_PersonInfo" model="person" />
		}
	</tbody>





